VITE_API_BASE_URL=http://localhost:8080
VITE_GOOGLE_CLIENT_ID=1051423677449-a8o03tkgb2bime33a5s9f5chsk338077.apps.googleusercontent.com
VITE_AI_MODERATION_URL=http://localhost:8000
# https://banked-jailbird-utility.ngrok-free.dev
# ngrok http 8000 --domain=banked-jailbird-utility.ngrok-free.dev
